In [10]:
# Asthetics
import warnings
import sklearn.exceptions
warnings.filterwarnings('ignore', category=DeprecationWarning)
warnings.filterwarnings('ignore', category=FutureWarning)
warnings.filterwarnings('ignore', category=UserWarning)
warnings.filterwarnings("ignore", category=sklearn.exceptions.UndefinedMetricWarning)

# General
from tqdm import tqdm
import pandas as pd
import numpy as np
import os
import random
pd.set_option('display.max_columns', None)

# Visualisation
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set(style="darkgrid")

# Machine Learning
# Utils
from sklearn.model_selection import cross_val_score, RepeatedStratifiedKFold, StratifiedKFold
from sklearn import preprocessing
#Feature Selection
from sklearn.feature_selection import chi2, f_classif, f_regression, mutual_info_classif
from sklearn.feature_selection import mutual_info_regression, SelectKBest, SelectPercentile
from sklearn.feature_selection import VarianceThreshold
# Models
from sklearn.naive_bayes import GaussianNB
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from lightgbm import LGBMClassifier
#!pip install imblearn
from imblearn.ensemble import BalancedBaggingClassifier, BalancedRandomForestClassifier
# Unsupervised Models
from sklearn.cluster import KMeans
#Metrics
from sklearn.metrics import roc_auc_score

# Fixing Seed
RANDOM_SEED = 42

def seed_everything(seed=RANDOM_SEED):
    os.environ['PYTHONHASHSEED'] = str(seed)
    np.random.seed(seed)
    random.seed(seed)
    
seed_everything()

In [11]:
train = pd.read_csv("C:/Users/ayush.chaturvedi/Downloads/train_r7VTVyN_Ko9cGPz.csv")
test = pd.read_csv("C:/Users/ayush.chaturvedi/Downloads/test_ZkjAHF8_2shxaJa_vZtSmPc.csv")

In [12]:
np.sum(train.isnull())

ID                                0
Office_PIN                        0
Application_Receipt_Date          0
Applicant_City_PIN               97
Applicant_Gender                 67
Applicant_BirthDate              73
Applicant_Marital_Status         73
Applicant_Occupation           1221
Applicant_Qualification          86
Manager_DOJ                     683
Manager_Joining_Designation     683
Manager_Current_Designation     683
Manager_Grade                   683
Manager_Status                  683
Manager_Gender                  683
Manager_DoB                     683
Manager_Num_Application         683
Manager_Num_Coded               683
Manager_Business                683
Manager_Num_Products            683
Manager_Business2               683
Manager_Num_Products2           683
Business_Sourced                  0
dtype: int64

In [13]:
train['Applicant_City_PIN'].fillna('Details_Missing', inplace=True)
train['Applicant_Gender'].fillna('Details_Missing', inplace=True)
train['Applicant_BirthDate'].fillna('Details_Missing', inplace=True)
train['Applicant_Marital_Status'].fillna('Details_Missing', inplace=True)
train['Applicant_Occupation'].fillna('Details_Missing', inplace=True)
train['Applicant_Qualification'].fillna('Details_Missing', inplace=True)
train['Manager_DOJ'].fillna('Details_Missing', inplace=True)
train['Manager_Joining_Designation'].fillna('Details_Missing', inplace=True)
train['Manager_Current_Designation'].fillna('Details_Missing', inplace=True)
train['Manager_Grade'].fillna('Details_Missing', inplace=True)
train['Manager_Status'  ].fillna('Details_Missing', inplace=True)
train['Manager_Gender'].fillna('Details_Missing', inplace=True)
train['Manager_DoB'].fillna('Details_Missing', inplace=True)
train['Manager_Num_Application'].fillna('Details_Missing', inplace=True)
train['Manager_Num_Coded'].fillna('Details_Missing', inplace=True)
train['Manager_Business'].fillna('Details_Missing', inplace=True)
train['Manager_Business2'].fillna('Details_Missing', inplace=True)
train['Manager_Num_Products'].fillna('Details_Missing', inplace=True)
train['Manager_Num_Products2'].fillna('Details_Missing', inplace=True)

In [14]:
train.isnull().sum()

ID                             0
Office_PIN                     0
Application_Receipt_Date       0
Applicant_City_PIN             0
Applicant_Gender               0
Applicant_BirthDate            0
Applicant_Marital_Status       0
Applicant_Occupation           0
Applicant_Qualification        0
Manager_DOJ                    0
Manager_Joining_Designation    0
Manager_Current_Designation    0
Manager_Grade                  0
Manager_Status                 0
Manager_Gender                 0
Manager_DoB                    0
Manager_Num_Application        0
Manager_Num_Coded              0
Manager_Business               0
Manager_Num_Products           0
Manager_Business2              0
Manager_Num_Products2          0
Business_Sourced               0
dtype: int64

In [15]:
test['Applicant_City_PIN'].fillna('Details_Missing', inplace=True)
test['Applicant_Gender'].fillna('Details_Missing', inplace=True)
test['Applicant_BirthDate'].fillna('Details_Missing', inplace=True)
test['Applicant_Marital_Status'].fillna('Details_Missing', inplace=True)
test['Applicant_Occupation'].fillna('Details_Missing', inplace=True)
test['Applicant_Qualification'].fillna('Details_Missing', inplace=True)
test['Manager_DOJ'].fillna('Details_Missing', inplace=True)
test['Manager_Joining_Designation'].fillna('Details_Missing', inplace=True)
test['Manager_Current_Designation'].fillna('Details_Missing', inplace=True)
test['Manager_Grade'].fillna('Details_Missing', inplace=True)
test['Manager_Status'  ].fillna('Details_Missing', inplace=True)
test['Manager_Gender'].fillna('Details_Missing', inplace=True)
test['Manager_DoB'].fillna('Details_Missing', inplace=True)
test['Manager_Num_Application'].fillna('Details_Missing', inplace=True)
test['Manager_Num_Coded'].fillna('Details_Missing', inplace=True)
test['Manager_Business'].fillna('Details_Missing', inplace=True)
test['Manager_Business2'].fillna('Details_Missing', inplace=True)
test['Manager_Num_Products'].fillna('Details_Missing', inplace=True)
test['Manager_Num_Products2'].fillna('Details_Missing', inplace=True)

In [16]:
train.isnull().sum()

ID                             0
Office_PIN                     0
Application_Receipt_Date       0
Applicant_City_PIN             0
Applicant_Gender               0
Applicant_BirthDate            0
Applicant_Marital_Status       0
Applicant_Occupation           0
Applicant_Qualification        0
Manager_DOJ                    0
Manager_Joining_Designation    0
Manager_Current_Designation    0
Manager_Grade                  0
Manager_Status                 0
Manager_Gender                 0
Manager_DoB                    0
Manager_Num_Application        0
Manager_Num_Coded              0
Manager_Business               0
Manager_Num_Products           0
Manager_Business2              0
Manager_Num_Products2          0
Business_Sourced               0
dtype: int64

In [17]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9527 entries, 0 to 9526
Data columns (total 23 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           9527 non-null   object
 1   Office_PIN                   9527 non-null   int64
 2   Application_Receipt_Date     9527 non-null   object
 3   Applicant_City_PIN           9527 non-null   object
 4   Applicant_Gender             9527 non-null   object
 5   Applicant_BirthDate          9527 non-null   object
 6   Applicant_Marital_Status     9527 non-null   object
 7   Applicant_Occupation         9527 non-null   object
 8   Applicant_Qualification      9527 non-null   object
 9   Manager_DOJ                  9527 non-null   object
 10  Manager_Joining_Designation  9527 non-null   object
 11  Manager_Current_Designation  9527 non-null   object
 12  Manager_Grade                9527 non-null   object
 13  Manager_Status               9527 non-null   object
 14  Manager_Gender               9527 non-null   object
 15  Manager_DoB                  9527 non-null   object
 16  Manager_Num_Application      9527 non-null   object
 17  Manager_Num_Coded            9527 non-null   object
 18  Manager_Business             9527 non-null   object
 19  Manager_Num_Products         9527 non-null   object
 20  Manager_Business2            9527 non-null   object
 21  Manager_Num_Products2        9527 non-null   object
 22  Business_Sourced             9527 non-null   int64
dtypes: int64(2), object(21)
memory usage: 1.7+ MB

In [18]:
train.head()

,ID,Office_PIN,Application_Receipt_Date,Applicant_City_PIN,Applicant_Gender,Applicant_BirthDate,Applicant_Marital_Status,Applicant_Occupation,Applicant_Qualification,Manager_DOJ,Manager_Joining_Designation,Manager_Current_Designation,Manager_Grade,Manager_Status,Manager_Gender,Manager_DoB,Manager_Num_Application,Manager_Num_Coded,Manager_Business,Manager_Num_Products,Manager_Business2,Manager_Num_Products2,Business_Sourced
0,FIN1000001,842001,4/16/2007,844120.0,M,12/19/1971,M,Others,Graduate,11/10/2005,Level 1,Level 2,3.0,Confirmation,M,2/17/1978,2.0,1.0,335249.0,28.0,335249.0,28.0,0
1,FIN1000002,842001,4/16/2007,844111.0,M,2/17/1983,S,Others,Class XII,11/10/2005,Level 1,Level 2,3.0,Confirmation,M,2/17/1978,2.0,1.0,335249.0,28.0,335249.0,28.0,1
2,FIN1000003,800001,4/16/2007,844101.0,M,1/16/1966,M,Business,Class XII,5/27/2006,Level 1,Level 1,2.0,Confirmation,M,3/3/1969,0.0,0.0,357184.0,24.0,357184.0,24.0,0
3,FIN1000004,814112,4/16/2007,814112.0,M,2/3/1988,S,Salaried,Class XII,8/21/2003,Level 1,Level 3,4.0,Confirmation,F,8/14/1978,0.0,0.0,318356.0,22.0,318356.0,22.0,0
4,FIN1000005,814112,4/16/2007,815351.0,M,7/4/1985,M,Others,Class XII,5/8/2006,Level 1,Level 1,2.0,Confirmation,M,2/7/1971,2.0,1.0,230402.0,17.0,230402.0,17.0,0

In [19]:
train.nunique()

ID                             9527
Office_PIN                       98
Application_Receipt_Date        357
Applicant_City_PIN             2980
Applicant_Gender                  3
Applicant_BirthDate            5837
Applicant_Marital_Status          5
Applicant_Occupation              6
Applicant_Qualification          12
Manager_DOJ                     647
Manager_Joining_Designation       9
Manager_Current_Designation       6
Manager_Grade                    11
Manager_Status                    3
Manager_Gender                    3
Manager_DoB                    1246
Manager_Num_Application          18
Manager_Num_Coded                11
Manager_Business               3748
Manager_Num_Products             58
Manager_Business2              3744
Manager_Num_Products2            58
Business_Sourced                  2
dtype: int64

In [20]:
target = ['Business_Sourced']
not_features = ['ID', 'Business_Sourced']
cols = list(train.columns)
features = [feat for feat in cols if feat not in not_features]
print(features)

['Office_PIN', 'Application_Receipt_Date', 'Applicant_City_PIN', 'Applicant_Gender', 'Applicant_BirthDate', 'Applicant_Marital_Status', 'Applicant_Occupation', 'Applicant_Qualification', 'Manager_DOJ', 'Manager_Joining_Designation', 'Manager_Current_Designation', 'Manager_Grade', 'Manager_Status', 'Manager_Gender', 'Manager_DoB', 'Manager_Num_Application', 'Manager_Num_Coded', 'Manager_Business', 'Manager_Num_Products', 'Manager_Business2', 'Manager_Num_Products2']

In [21]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
categorical_features = []
numerical_features = []

for i in features:
    if train[i].dtype in numerics:
        numerical_features.append(i)
    else:
        categorical_features.append(i)
        
print(f'Numeric features: {numerical_features}')
print(f'Categorical features: {categorical_features}')
# divide the numeric and categorical features into two arrays.

Numeric features: ['Office_PIN']
Categorical features: ['Application_Receipt_Date', 'Applicant_City_PIN', 'Applicant_Gender', 'Applicant_BirthDate', 'Applicant_Marital_Status', 'Applicant_Occupation', 'Applicant_Qualification', 'Manager_DOJ', 'Manager_Joining_Designation', 'Manager_Current_Designation', 'Manager_Grade', 'Manager_Status', 'Manager_Gender', 'Manager_DoB', 'Manager_Num_Application', 'Manager_Num_Coded', 'Manager_Business', 'Manager_Num_Products', 'Manager_Business2', 'Manager_Num_Products2']

In [22]:
NUM_SPLITS = 5

train["kfold"] = -1
train = train.sample(frac=1).reset_index(drop=True)
y = train.Business_Sourced.values
kf = StratifiedKFold(n_splits=NUM_SPLITS)
for f, (t_, v_) in enumerate(kf.split(X=train, y=y)):
    train.loc[v_, 'kfold'] = f
    
train.head()

,ID,Office_PIN,Application_Receipt_Date,Applicant_City_PIN,Applicant_Gender,Applicant_BirthDate,Applicant_Marital_Status,Applicant_Occupation,Applicant_Qualification,Manager_DOJ,Manager_Joining_Designation,Manager_Current_Designation,Manager_Grade,Manager_Status,Manager_Gender,Manager_DoB,Manager_Num_Application,Manager_Num_Coded,Manager_Business,Manager_Num_Products,Manager_Business2,Manager_Num_Products2,Business_Sourced,kfold
0,FIN1001088,444601,5/9/2007,444605.0,M,1/20/1978,S,Others,Graduate,1/6/2007,Level 3,Level 3,4.0,Confirmation,M,9/16/1975,2.0,3.0,269841.0,11.0,269841.0,11.0,0,0
1,FIN1006309,360001,12/24/2007,392011.0,M,7/14/1983,S,Salaried,Graduate,11/26/2007,Level 3,Level 3,4.0,Probation,F,8/16/1969,1.0,0.0,0.0,0.0,0.0,0.0,0,0
2,FIN1008022,400075,5/5/2008,400009.0,M,3/22/1977,M,Salaried,Graduate,4/3/2008,Level 3,Level 3,4.0,Probation,M,7/3/1975,1.0,0.0,0.0,0.0,0.0,0.0,0,0
3,FIN1009484,476001,6/28/2008,476001.0,M,4/10/1983,M,Business,Graduate,Details_Missing,Details_Missing,Details_Missing,Details_Missing,Details_Missing,Details_Missing,Details_Missing,Details_Missing,Details_Missing,Details_Missing,Details_Missing,Details_Missing,Details_Missing,1,0
4,FIN1004460,848101,10/20/2007,848134.0,M,3/18/1969,M,Business,Class XII,6/27/2005,Level 1,Level 4,5.0,Confirmation,M,12/27/1971,0.0,1.0,363658.0,21.0,363658.0,21.0,0,0

In [23]:
def label_enc(train, test, features):
    lbl_enc = preprocessing.LabelEncoder()
    full_data = pd.concat(
        [train[features], test[features]],
        axis=0
    )
    
    for col in (features):
        print(col)
        if train[col].dtype == 'object':
            lbl_enc.fit(full_data[col].values)
            train[col] = lbl_enc.transform(train[col])
            test[col] = lbl_enc.transform(test[col])
            
    return train, test

In [24]:
train.head()

,ID,Office_PIN,Application_Receipt_Date,Applicant_City_PIN,Applicant_Gender,Applicant_BirthDate,Applicant_Marital_Status,Applicant_Occupation,Applicant_Qualification,Manager_DOJ,Manager_Joining_Designation,Manager_Current_Designation,Manager_Grade,Manager_Status,Manager_Gender,Manager_DoB,Manager_Num_Application,Manager_Num_Coded,Manager_Business,Manager_Num_Products,Manager_Business2,Manager_Num_Products2,Business_Sourced,kfold
0,FIN1001088,444601,5/9/2007,444605.0,M,1/20/1978,S,Others,Graduate,1/6/2007,Level 3,Level 3,4.0,Confirmation,M,9/16/1975,2.0,3.0,269841.0,11.0,269841.0,11.0,0,0
1,FIN1006309,360001,12/24/2007,392011.0,M,7/14/1983,S,Salaried,Graduate,11/26/2007,Level 3,Level 3,4.0,Probation,F,8/16/1969,1.0,0.0,0.0,0.0,0.0,0.0,0,0
2,FIN1008022,400075,5/5/2008,400009.0,M,3/22/1977,M,Salaried,Graduate,4/3/2008,Level 3,Level 3,4.0,Probation,M,7/3/1975,1.0,0.0,0.0,0.0,0.0,0.0,0,0
3,FIN1009484,476001,6/28/2008,476001.0,M,4/10/1983,M,Business,Graduate,Details_Missing,Details_Missing,Details_Missing,Details_Missing,Details_Missing,Details_Missing,Details_Missing,Details_Missing,Details_Missing,Details_Missing,Details_Missing,Details_Missing,Details_Missing,1,0
4,FIN1004460,848101,10/20/2007,848134.0,M,3/18/1969,M,Business,Class XII,6/27/2005,Level 1,Level 4,5.0,Confirmation,M,12/27/1971,0.0,1.0,363658.0,21.0,363658.0,21.0,0,0

In [25]:
target = ['Business_Sourced']
not_features = ['ID', 'Business_Sourced', 'kfold']
cols = list(train.columns)
features = [feat for feat in cols if feat not in not_features]
print(features)

['Office_PIN', 'Application_Receipt_Date', 'Applicant_City_PIN', 'Applicant_Gender', 'Applicant_BirthDate', 'Applicant_Marital_Status', 'Applicant_Occupation', 'Applicant_Qualification', 'Manager_DOJ', 'Manager_Joining_Designation', 'Manager_Current_Designation', 'Manager_Grade', 'Manager_Status', 'Manager_Gender', 'Manager_DoB', 'Manager_Num_Application', 'Manager_Num_Coded', 'Manager_Business', 'Manager_Num_Products', 'Manager_Business2', 'Manager_Num_Products2']

In [26]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
categorical_features = []
numerical_features = []

for i in features:
    if train[i].dtype in numerics:
        numerical_features.append(i)
    else:
        categorical_features.append(i)
        
print(f'Numeric features: {numerical_features}')
print(f'Categorical features: {categorical_features}')

Numeric features: ['Office_PIN']
Categorical features: ['Application_Receipt_Date', 'Applicant_City_PIN', 'Applicant_Gender', 'Applicant_BirthDate', 'Applicant_Marital_Status', 'Applicant_Occupation', 'Applicant_Qualification', 'Manager_DOJ', 'Manager_Joining_Designation', 'Manager_Current_Designation', 'Manager_Grade', 'Manager_Status', 'Manager_Gender', 'Manager_DoB', 'Manager_Num_Application', 'Manager_Num_Coded', 'Manager_Business', 'Manager_Num_Products', 'Manager_Business2', 'Manager_Num_Products2']

In [27]:
train[numerical_features] = train[numerical_features].astype('float64')
test[numerical_features] = test[numerical_features].astype('float64')

In [28]:
train[target] = train[target].astype('float64')

In [29]:
cutoff = 10
low_cardinal_columns = []
high_cardinal_columns = []

for i in categorical_features:
    if train[i].nunique() > cutoff:
        high_cardinal_columns.append(i)
    else:
        low_cardinal_columns.append(i)
        
print(f'High Cardinality columns: {high_cardinal_columns}')
print(f'Low Cardinality columns: {low_cardinal_columns}')

High Cardinality columns: ['Application_Receipt_Date', 'Applicant_City_PIN', 'Applicant_BirthDate', 'Applicant_Qualification', 'Manager_DOJ', 'Manager_Grade', 'Manager_DoB', 'Manager_Num_Application', 'Manager_Num_Coded', 'Manager_Business', 'Manager_Num_Products', 'Manager_Business2', 'Manager_Num_Products2']
Low Cardinality columns: ['Applicant_Gender', 'Applicant_Marital_Status', 'Applicant_Occupation', 'Manager_Joining_Designation', 'Manager_Current_Designation', 'Manager_Status', 'Manager_Gender']

In [31]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9527 entries, 0 to 9526
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           9527 non-null   object
 1   Office_PIN                   9527 non-null   float64
 2   Application_Receipt_Date     9527 non-null   object
 3   Applicant_City_PIN           9527 non-null   object
 4   Applicant_Gender             9527 non-null   object
 5   Applicant_BirthDate          9527 non-null   object
 6   Applicant_Marital_Status     9527 non-null   object
 7   Applicant_Occupation         9527 non-null   object
 8   Applicant_Qualification      9527 non-null   object
 9   Manager_DOJ                  9527 non-null   object
 10  Manager_Joining_Designation  9527 non-null   object
 11  Manager_Current_Designation  9527 non-null   object
 12  Manager_Grade                9527 non-null   object
 13  Manager_Status               9527 non-null   object
 14  Manager_Gender               9527 non-null   object
 15  Manager_DoB                  9527 non-null   object
 16  Manager_Num_Application      9527 non-null   object
 17  Manager_Num_Coded            9527 non-null   object
 18  Manager_Business             9527 non-null   object
 19  Manager_Num_Products         9527 non-null   object
 20  Manager_Business2            9527 non-null   object
 21  Manager_Num_Products2        9527 non-null   object
 22  Business_Sourced             9527 non-null   float64
 23  kfold                        9527 non-null   int64
dtypes: float64(2), int64(1), object(21)
memory usage: 1.7+ MB

In [33]:
if len(low_cardinal_columns) > 0:
    train, test = label_enc(train, test, low_cardinal_columns)

Applicant_Gender
Applicant_Marital_Status
Applicant_Occupation
Manager_Joining_Designation
Manager_Current_Designation
Manager_Status
Manager_Gender

In [34]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9527 entries, 0 to 9526
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           9527 non-null   object
 1   Office_PIN                   9527 non-null   float64
 2   Application_Receipt_Date     9527 non-null   object
 3   Applicant_City_PIN           9527 non-null   object
 4   Applicant_Gender             9527 non-null   int32
 5   Applicant_BirthDate          9527 non-null   object
 6   Applicant_Marital_Status     9527 non-null   int32
 7   Applicant_Occupation         9527 non-null   int32
 8   Applicant_Qualification      9527 non-null   object
 9   Manager_DOJ                  9527 non-null   object
 10  Manager_Joining_Designation  9527 non-null   int32
 11  Manager_Current_Designation  9527 non-null   int32
 12  Manager_Grade                9527 non-null   object
 13  Manager_Status               9527 non-null   int32
 14  Manager_Gender               9527 non-null   int32
 15  Manager_DoB                  9527 non-null   object
 16  Manager_Num_Application      9527 non-null   object
 17  Manager_Num_Coded            9527 non-null   object
 18  Manager_Business             9527 non-null   object
 19  Manager_Num_Products         9527 non-null   object
 20  Manager_Business2            9527 non-null   object
 21  Manager_Num_Products2        9527 non-null   object
 22  Business_Sourced             9527 non-null   float64
 23  kfold                        9527 non-null   int64
dtypes: float64(2), int32(7), int64(1), object(14)
memory usage: 1.5+ MB

In [35]:
if len(high_cardinal_columns) > 0:
    train, test = label_enc(train, test, high_cardinal_columns)

Application_Receipt_Date
Applicant_City_PIN

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['float', 'str']

In [ ]:
''''columnsToBeDropped = ['Applicant_City_PIN','Applicant_BirthDate','Application_Receipt_Date','Manager_Business2','Manager_DOJ',
                      'Manager_DoB','Manager_Num_Products']
dataset = dataset.drop(columnsToBeDropped,1)
 
for colname in  dataset.columns:
    print (colname,dataset[colname].unique()," no:",len(dataset[colname].unique()))
     
dataset.Applicant_Occupation.fillna("Others",inplace=True)
dataset.Applicant_Occupation.unique()
dataset.Applicant_Marital_Status.fillna("applicantMaritalStatusMissing",inplace=True)
dataset.Applicant_Marital_Status.unique()
dataset.Applicant_Gender.fillna("applicantGenderMissing",inplace=True)
dataset.Applicant_Gender.unique()
dataset.Applicant_Qualification.fillna("Others",inplace=True)
dataset.Applicant_Qualification.unique()
dataset.loc[(dataset['Applicant_Qualification']=='Associate/Fellow of Institute of Company Secretories of India' )
        | (dataset['Applicant_Qualification']==
        'Associate/Fellow of Institute of Institute of Costs and Works Accountants of India'),'Applicant_Qualification'] ='Associate / Fellow of Institute of Chartered Accountans of India'
 
dataset.Manager_Gender.fillna("Manager_GenderMissing",inplace=True)
dataset.Manager_Status.fillna("Manager_StatusMissing",inplace=True)
columnsToBe1HotEncoded = ['Applicant_Gender','Applicant_Marital_Status','Applicant_Occupation', 'Applicant_Qualification' ,
                         'Manager_Gender','Manager_Status']
d = pd.get_dummies(dataset[columnsToBe1HotEncoded])
df_new = pd.concat([dataset, d], axis=1)
 
df_new= df_new.drop(columnsToBe1HotEncoded,1)
 
df_new.columns
df_new=df_new.fillna(-9999)

In [ ]:
'''Split
trainSet=df_new[df_new.isTrainDataSet==1]
trainSet=trainSet.drop(['isTrainDataSet','ID'],1)
Xo=trainSet.drop(['Business_Sourced'],1)
Xo=Xo[Xo['wow']==1]
Xi=Xo[Xo['wow']==0]
y=trainSet['Business_Sourced'][trainSet['wow']==1]
yi=trainSet['Business_Sourced'][trainSet['wow']==0]
 
trainSet['Business_Sourced'].describe()
 
testSet=df_new[df_new.isTrainDataSet!=1]
#testSet
#XTesty=testSet.drop(['Business_Sourced'],1)
#XTesty
testSet=testSet.drop(['isTrainDataSet','ID'],1)
XTest=testSet.drop(['Business_Sourced'],1)
Xtesty=XTest 
#XTesto=XTest[XTest['wow']==1]
#XTesti=XTest[XTest['wow']==0] '''

In [ ]:
'''# importing the train test split function
from sklearn.model_selection import train_test_split

train_x, test_x, train_y, test_y = train_test_split(x, y, random_state =123, stratify = y, test_size = 0.25)

from imblearn.over_sampling import SMOTE

smote = SMOTE(k_neighbors = 4)

x_smote, y_smote = smote.fit_resample(train_x, train_y)

y_smote.value_counts(), test_y.value_counts()'''

In [ ]:
'''''''''First model'''
clf=GradientBoostingClassifier(loss='deviance',n_estimators=300,learning_rate=0.4,max_depth=10 ,max_features='auto',verbose=1,min_samples_split=2,min_samples_leaf=1)
clf = RandomForestClassifier(n_estimators=100, max_depth=None,min_samples_split=1, random_state=0)
clf = ExtraTreesClassifier(n_estimators=100, max_depth=10,min_samples_split=2, random_state=0)
model=clf.fit(Xo,y)
pred=model.predict_proba(XTest)
pred.shape[0]
#XTest=testSet[testSet['wow']==1]
#pred.shape[0],XTest.shape[0]
#subm=pd.DataFrame(df_new[df_new.isTrainDataSet!=1]['ID'],columns=['ID'])

#Xtesty['Business_Sourced']=pred
#XTesty['Business_Sourced']
#subm.shape[0]
final_data=pd.DataFrame()
final_data['ID']=test['ID']
final_data['Business_Sourced']=pred
final_data
#predo=pd.DataFrame(pred,index=XTest.index)
#predo
#predi=pd.DataFrame(np.zeros(shape=(XTesti.shape[0])),index=XTesti.index)
#predi
#finalPred=predo.append(predi)
#finalPred=finalPred.sort_index()
#finalPred
#subm=pd.DataFrame(df_new[df_new.isTrainDataSet!=1]['ID'],columns=['ID'])
#subm['Business_Sourced']=finalPred
##X=["ID", "Business_Sourced"]

##XTesty.to_csv('FinalSmartRecruitETonWow100estmaxdepth10.csv',index=False,columns = X)   '''

In [ ]:
###############################################################################Grid Search and Stacking################################################################################################
'''GRID
max_depth = np.arange(1, 100, 10)
n_estimators = np.arange(10, 40, 5)
param_grid = dict(max_depth=max_depth)

cv = sklearn.model_selection.StratifiedShuffleSplit(y, 3, test_size=0.5, random_state=0)

grid = sklearn.model_selection.GridSearchCV(clf, param_grid=param_grid, cv=cv,scoring='roc_auc',verbose=5)

choose=grid.fit(Xo,y)
bestParam=choose.best_params_
bestScore=choose.best_score_ '''

In [ ]:
'''Stage 1 Prob
X=Xo.to_numpy()
clf = ExtraTreesClassifier(n_estimators=200, max_depth=None,min_samples_split=1, random_state=0)
clf =GradientBoostingClassifier(loss='deviance',n_estimators=200,learning_rate=0.4,max_depth=8 ,max_features='auto',verbose=1,min_samples_split=2,min_samples_leaf=1)
clf = RandomForestClassifier(n_estimators=200, max_depth=None,min_samples_split=1, random_state=0)
cv = StratifiedShuffleSplit(y, 4, test_size=0.5, random_state=0)
predDF=pd.DataFrame()
i=0
pred = np.zeros(shape=(X.shape[0]))
for train_index, test_index in cv.split(X,y):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_A, X_B = X[train_index], X[test_index]
    y_A, y_B = y[train_index], y[test_index]
    modelOnB=clf.fit(X_B,y_B)
    PredOnA=modelOnB.predict_proba(X_A)
    modelOnA=clf.fit(X_A,y_A)
    PredOnB=modelOnA.predict_proba(X_B)
    pred=np.array()
    pred[train_index]=PredOnA
    pred[test_index]=PredOnB
    colname='col'+str(i)
    print (pred)
    print (colname)
    predDF[colname]=pred
    i=i+1

fprob=predDF.mean(axis=1)  


model=clf.fit(Xo,y)
Testfprob=model.predict(XTest)
XTest['1ststage']=Testfprob
Xo['1ststage']=fprob

clf2 = RandomForestClassifier(n_estimators=200, max_depth=None,min_samples_split=1, random_state=0)
clf =GradientBoostingClassifier(loss='deviance',n_estimators=200,learning_rate=0.4,max_depth=8 ,max_features='auto',verbose=1,min_samples_split=2,min_samples_leaf=1)
clf2 = ExtraTreesClassifier(n_estimators=200, max_depth=None,min_samples_split=1, random_state=0)
model=clf2.fit(Xo,y)
pred=model.predict_proba(XTest)
subm=pd.DataFrame(df_new[df_new.isTrainDataSet!=1]['ID'],columns=['ID'])
subm['Business_Sourced']=pred
subm.to_csv('ETmaxdepthnoneonGBmaxdep8.csv',index=False)
 
 
"""""""""""" '''